@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght&display=swap');

.font1, .section-title{
    font-family: 'Bebas Neue', cursive;
}

.font2, .card-t, .card-p, .item-price, .details-title{
    font-family: 'Roboto', sans-serif;
}  

.title-color, .card-t, .details-title{
    color: #363958;
}

.header-bg{
    background-color: #FFFBF0;
}
.nav-logo img{
    width: 300px;
}

.header-title{
    line-height: 50%;
}

.button{
    background-image: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    border-radius: 10px;
    border: 0;
    padding: 18px 36px;
    color: white;
}

.section-title{
    font-size: 54px;
    
}
.sec-card{
    border: 0;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.sec-img-bg{
    background-color: #F1F1F1;
    border-radius: 20px;
}

.card-t{
    font-size: 24px;
    font-weight: 700;
}

.card-p{
    font-size: 16px;
    font-weight: 400;
    color: #3E3E3E;
}

.item-price{
    font-size: 36px;
    font-weight: 900;
    color: #FABE4C;
}

.man-jacket{
    margin-top: 100px;
}
.about-details{
    width: 100%;
    height: 135px;  
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    margin-top: 20px;
    overflow: hidden;
}

.about-us{
    margin-top: 150px;
}

@media only screen and (max-width: 600px){
    .section-title{
        text-align: center;
    }

    .about-us{
        margin-top: 100px;
    }
    .about-details{
        display: flex;
        flex-direction: column;
        height: auto;
        
    }

    .details{
        text-align: center;
        padding: 10px 0 !important;
    }
    

}
.details{
    padding: 30px 0 30px 30px;
}

.details-title{
    font-size: 24px;
    font-weight: 700;
}


