@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght&display=swap');

.font1, .section-title{
    font-family: 'Bebas Neue', cursive;
}

.font2, .card-t, .card-p, .item-price, .details-title, footer{
    font-family: 'Roboto', sans-serif;
}  

.title-color, .card-t, .details-title{
    color: #363958;
}

.header-bg{
    background-color: #FFFBF0;
}
.nav-logo img{
    width: 300px;
}

.header-title{
    line-height: 50%;
}

.nav-link{
    transition: color, transform, font-weight .1s ease-in;
}
.nav-link:hover{
    color: #85A019 !important;
    transform: scale(1.01);
    font-weight: bold;
}

.button{
    background-image: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    border-radius: 10px;
    border: 0;
    padding: 18px 36px;
    color: white;
}

.sec-card img{
    transition: transform .5s ease-out;
}

.button:hover{
  background-image: linear-gradient(45deg, #A4BC46 0%, #85A019 100%);
  transform: scale(1.01);
}

.sec-card img:hover{
    transform: scale(1.1);
    transition:  ;
}

.section-title{
    font-size: 54px;
    
}
.sec-card{
    border: 0;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.sec-img-bg{
    background-color: #F1F1F1;
    border-radius: 20px;
}

.card-t{
    font-size: 24px;
    font-weight: 700;
}

.card-p{
    font-size: 16px;
    font-weight: 400;
    color: #3E3E3E;
}

.item-price{
    font-size: 36px;
    font-weight: 900;
    color: #FABE4C;
}

.man-jacket{
    margin-top: 100px;
}
.about-details{
    width: 100%;
    height: 135px;  
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    margin-top: 20px;
    overflow: hidden;
    transition: transform .1s ease-out;
}

.about-details:hover{
    transform-origin: left;
    transform: scale(1.05);
}

.about-us{
    margin-top: 150px;
}


.details{
    padding: 30px 0 30px 30px;

}

.details-title{
    font-size: 24px;
    font-weight: 700;
}

.details > p{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #3E3E3E;
}

.email{
    width: 300px;
    border-radius: 5px;
    border: 1px solid #3E3E3E;
    
}

.submit-btn{
    background-color: #A4BC46;
    color: white;
    border-radius: 10px;
    padding: 5px 30px;
}

.big_footer{
    clip-path: polygon(33% 11%, 100% 0, 100% 60%, 100% 100%, 0 100%, 0 100%, 0 0);
    width: 100%;
    background-color: #A4BC46;
}

@media only screen and (max-width: 600px){
    .section-title{
        text-align: center;
    }

    .about-us{
        margin-top: 100px;
    }
    .about-details{
        display: flex;
        flex-direction: column;
        height: auto;
        
    }

    .details{
        text-align: center;
        padding: 10px 0 !important;
    }

    .connectd{
        text-align: center;    
    }
    .bigf_col{
        text-align: center;
    }

}




